@* @using ExerciseXDataLibrary.Models;
@model IEnumerable<UsersExercisesModel> *@
@{
    ViewData["Title"] = "List of User and their exercises";
}

@*<partial name =" _Notification" /> @*calls on the partial view from_Notification in shared folder*@

<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1>Diet Lists</h1>
        </div>
        <div class=" col-6 text-end">
            <a asp-controller="UsersExercises" asp-action="Create" class="btn btn-primary">Create New Diet</a>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th> User Exercise Id</th>
                <th> User Id</th>
                <th> Exercise Id</th>
                <th> Repetition </th>
                <th> Sets </th>
                <th> Duration (secs)</th>
               
                <th>Modified Date</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.UE_Id</td>
                    <td>@obj.U_Id</td>
                    <td>@obj.E_Id</td>
                    <td>@obj.Repetition</td>
                    <td>@obj.Sets</td>
                    <td>@obj.Duration</td>
                  
                    <td> @obj.UE_Modified_Date</td>

                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="UsersExercises" asp-action="Details" asp-route-id="@obj.UE_Id"
                               class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Details</a>

                            <a asp-controller="UsersExercises" asp-action="Edit" asp-route-id="@obj.UE_Id"
                               class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Edit</a>

                            <a asp-controller="UsersExercises" asp-action="Delete" asp-route-id="@obj.UE_Id"
                               class="btn btn-primary mx-2"> <i class="bi bi-trash-fill"></i>Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>