@* @using ExerciseXDataLibrary.Models;
@model IEnumerable<DietsModel> *@
@{
    ViewData["Title"] = "List of Diets";
}

@*<partial name =" _Notification" /> @*calls on the partial view from_Notification in shared folder*@

<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1>Diet Lists</h1>
        </div>
        <div class=" col-6 text-end">
            <a asp-controller="Diets" asp-action="Create" class="btn btn-primary">Create New Diet</a>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th> Diet Id</th>
                <th> Diet Name</th>
                <th> Description</th>
  
                <th> Pros 1</th>
                <th> Pros 2</th>
                <th> Pros 3</th>
                <th> Cons 1</th>
                <th> Cons 2</th>
                <th> Cons 3</th>
                <th>Modified Date</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.D_Id</td>
                    <td>@obj.D_Name</td>
                    <td>@obj.D_Description</td>

                    <td> @obj.D_Pros_1 </td>
                    <td> @obj.D_Pros_2 </td>
                    <td> @obj.D_Pros_3 </td>
                    <td> @obj.D_Cons_1 </td>
                    <td> @obj.D_Cons_2 </td>
                    <td> @obj.D_Cons_3 </td>
                    <td> @obj.D_Modified_Date</td>

                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Diets" asp-action="Details" asp-route-id="@obj.D_Id"
                               class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Details</a>

                            <a asp-controller="Diets" asp-action="Edit" asp-route-id="@obj.D_Id"
                               class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Edit</a>

                            <a asp-controller="Diets" asp-action="Delete" asp-route-id="@obj.D_Id"
                               class="btn btn-primary mx-2"> <i class="bi bi-trash-fill"></i>Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>