@* @using ExerciseXDataLibrary.Models;
@model IEnumerable<DietsFoodsModel> *@
@{
    ViewData["Title"] = "List of Diets";
}

@* Check if the user is in the Admin role *@
@if (User.IsInRole("Admin"))
{



<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1>Diet Lists</h1>
        </div>
        <div class=" col-6 text-end">
            <a asp-controller="DietsFoods" asp-action="Create" class="btn btn-primary">Create New Diet</a>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th> Diet Food Id</th>
                <th> Diet Id</th>
                <th> Food Id</th>
                <th> Serving Size</th>
                <th> Recommended Servings</th>
                <th> Frequency</th>
                <th> Total Calories</th>
                <th> Modified Date</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td> @obj.DF_Id</td>
                    <td> @obj.D_Id </td>
                    <td> @obj.F_Id </td>
                    <td> @obj.DF_Serving_Size </td>
                    <td> @obj.DF_Recommended_Servings </td>
                    <td> @obj.DF_Frequency </td>
                    <td> @obj.DF_Total_Calories </td>
                    <td> @obj.DF_Modified_Date</td>

                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Diets" asp-action="Details" asp-route-id="@obj.DF_Id"
                               class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Details</a>

                            <a asp-controller="Diets" asp-action="Edit" asp-route-id="@obj.DF_Id"
                               class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Edit</a>

                            <a asp-controller="Diets" asp-action="Delete" asp-route-id="@obj.DF_Id"
                               class="btn btn-primary mx-2"> <i class="bi bi-trash-fill"></i>Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}

else
{
    <div class="alert alert-danger mt-4">
        <h4 class="alert-heading">Access Denied</h4>
        <p>You do not have permission to access this page. Please contact an administrator if you believe this is an error.</p>
    </div>
}